/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.w-50{
    width: 50%;
}


nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-right i{
    color: #3A3A3A;
}
ul{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 120px; */
    padding-right: 120px;
}
li{
    /* background-color:red ; */
    padding: 5px 10px;
    margin: 0 14px;
}
nav{
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    font-weight: semi-bold ;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    /* margin-right: 34px;    */
    /* margin-top: 95px;  */
    
}
nav h3{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin-left: 120px;
    margin-top: 87px;
}
.nav-right{
    margin-top: 95px;
}
.nav-right i{
    padding-top: 5px;
}

/* top banner */

.top-banner{
    display: flex;
    
}

.top-tittle{
    padding-top: 50px;
    padding-left: 120px;
}
h1{
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    color: #3A3A3A;
    padding-bottom: 20px;
}
P{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 20px;
    color: #3A3A3A;
}
.top-banner img{
    width: 70%;
    margin-left: 50px;
}

.btn{
    text-decoration: none;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    background: #E02C6D;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: aliceblue;
}
.btn>.fa-arrow-right{
    color: white;
    margin-left: 5px;
}
/* logos */
.logos {
    width: 90%;
    margin: auto;
    margin-top: 125px;
    border-radius: 0px;
    border-top: 2px solid rgb(212, 211, 211);
    border-bottom: 2px solid rgb(224, 215, 215);
    padding: 36px;
    /* margin-left: 120px; */
    
}

/* <!-- Popular collections --> */

.collections{
    width: 80%;
    margin: auto;
}
.collection-tittle{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 600;
    color:  #5E6366;
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.product{
    width: 329px;
    height: 476px;
    box-shadow: 2px 2px 50px #d8d8d8;
    padding: 14px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
}

.product-tittle h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    padding-top: 16px;
}

.product-price h2{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
.fa-solid{
    color: #FB8200;
    height: 16px;
    width: 16px;
}
.rating{
    Font-family: 'poppins';
    Font-style: Bold;
    Font-size: 18px;
    font-weight: 700;
    color:  #5E6366;
    padding-left: 10px;
}

.product-info{
    Font-family: 'poppins';
    Font-style: Bold;
    Font-size: 14px;
    font-weight: 700;
    color:  #5E6366;
}
.see-more{
    text-align: right;
    margin-right: 165px;  
    padding-bottom: 50px;
}
.seemore{
    text-decoration: none;
    color: #E02C6DDE;
    Font-family: 'Poppins';
    Font-style: Bold;
    Font-size: 16px;
    Line-height: 24px;
}
.fa-arrow-right{
    color: #E02C6DDE;
}

/* Bottom part */

.features{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.feature-pic img{
    Width:404px;
    Height:270px;
}
.feature-tittle{
    margin-left: 80px;
    }
.feature-heading{
    Font-family: 'Poppins';
    Font-style: Bold;
    Font-size: 38px;
    color: #0A0826;
}
.btn-2{
    text-decoration: none;
    height: 44px;
    width: 196px;
    left: 120px;
    top: 511px;
    padding: 10px 24px 10px 24px;
    background: #E02C6D;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    color: aliceblue;
}
.btn-2>.fa-arrow-right{
    color: white;
    margin-left: 5px;
}

/* footer */

footer{
    background-color: #0A0826;
    Width: 100%;
    Height: 259px;
    color: white;   
    text-align: center; 
    padding-top: 60px;
}
.footer-info .footer-p{
    text-align: center; 
    color: white;
    
}
.footer-head{
    Font-family: 'Poppins';
    Font-style: Bold;
    Font-size: 24px;
    color: white;
    
}
.footer-logos ul{
    justify-content: center;
    padding: 0;
}
.footer-logos i{
    color: white;
}

/* For mobile */
@media only screen and (max-width:688px) {
    body{
        width: 100%;
    }
    h3{
        align-items: center;
    }
    .nav-right{
        display: none;
    }
    .top-banner{
        flex-direction: column-reverse; /* to make 2 divs change order */
        width: 100%;
        text-align: center;
        
    }
    .top-tittle{
        width: 100%;
        padding:5% 10%;
        text-align: center;
    }
    .top-tittle h1{
        font-size: 28px;
    }
    .banner-img{
        width: 100%;
    }
    .top-banner img{
        width: 80%;
        margin: 0;
    }

    .products{
        grid-template-columns: repeat(1,1fr);
        
    }

    .features{
        flex-direction: column;
    }
    .feature-banner{
        order: 2;              /* to exchange div order */
        margin-top: 40px;
    }
    .features img{
        width: 100%;
    }
}

/* For Tablet and Pad */

@media only screen and (min-width:688.5px) and (max-width:992px) {
    body{
        width: 100%;
    }
    .first-tittle{
        width: 100%;
        align-items: center;
       }
    .nav-right{
        display: none;
    } 
    .top-banner{
        flex-direction: column-reverse; /* to make 2 divs change order */
        width: 100%;
        text-align: center;    
    }  
    .top-tittle{
        width: 100%;
        padding:5% 10%;
        text-align: center;
    }
    .top-tittle h1{
        font-size: 28px;
    }
    .banner-img{
        width: 100%;
    }
    .top-banner img{
        width: 80%;
        margin: 0;
    }

    .products{
        grid-template-columns: repeat(2,1fr);
        
    }
    .see-more{
        margin-right: 65px;
    }

    .features{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .feature-tittle{
        margin: 0;
    }
    .feature-banner{
        order: 2;              /* to exchange div order */
        margin-top: 40px;
    }
    .features img{
        width: 100%;
        height: 100%;
    }
}